@import "../../0_CGIAR/styles/main";

header .navbar-default {
  color: $eadd-white;
}

.headerInfoName {
  color: $eadd-white;
}

.headerInfoText {
  color: $eadd-white;
}

.trail-wrapper {
  color: $brand-primary;
  border-bottom: none;
}

// text on breadcrumb
.breadcrumb > li,
.breadcrumb > li > a,
.trail-wrapper .breadcrumb > li + li::before {
  color: $brand-primary;
}

// hamburger menu on mobile navbar
.trail-toggle .navbar-toggle .icon-bar {
  background-color: $brand-primary;
}
