@import "../../0_CGIAR/styles/main";

body {
  color: #222;
}

.trail-wrapper {
  background-color: $brand-secondary;
  color: $ftf-white;
  border-bottom: none;
}

.breadcrumb .dropdown-toggle {
  color: $ftf-white;
}

header .navbar-default {
  color: $ftf-white;
}

.headerInfoName {
  color: $ftf-white;
}

.headerInfoText {
  color: $ftf-white;
}

// text on breadcrumb
.breadcrumb > li,
.breadcrumb > li > a,
.trail-wrapper .breadcrumb > li + li::before {
  color: $ftf-white;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}
