@import "../../0_CGIAR/styles/main";

body {
  color: #333;
}

.trail-wrapper {
  background-color: $brand-secondary;
  color: $brand-primary;
  border-bottom: none;
}

.breadcrumb .dropdown-toggle {
  color: $brand-primary;
}

header .navbar-default {
  background-color: $cifor-light-yellow;
  color: $brand-primary;
}

.headerInfoName {
  color: $brand-primary;
}

.headerInfoText {
  color: $brand-primary;
}

// text on breadcrumb
.breadcrumb > li,
.breadcrumb > li > a,
.trail-wrapper .breadcrumb > li + li::before {
  color: $brand-primary;
}
