.navbar-brand {
  padding: 5px 15px;
  height: 75px;
}

header .navbar-brand img {
  height: 60px;
}

.trail-wrapper{
  background-color:#7AB800;
}

header .navbar-default{
  background-color: #427730;
}

#ds-search-option{
  margin-top:20px;
  width:300px;
}

a.list-group-item {
  color: #427730;
  background: rgba(239,239,239,0.7);


}
a.list-group-item:hover{
  text-decoration: underline;
  color: #427730;
}
.list-group-item{
  border:0;
  padding: 5px 15px

}
.list-group-item.active{

    border-bottom-color: #e3e3e3;
    color: #636363;
  background: rgba(239,239,239,0.7);
  border-bottom:1px solid #dcdcdc;
  padding:10px 15px;

}

.list-group-item.active:hover{
  text-decoration: none;
  color: #636363;
  background: rgba(239,239,239,0.7);

}
span.h5.list-group-item-heading.h5{
  font-size: 15px;

}span.h5.list-group-item-heading.h5:hover{
   text-decoration: none;

}
body{
  background: #fcfcfc;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #636363;
  font-size: 13px;
  line-height: 16px;
}
.breadcrumb li, .trail-wrapper .breadcrumb > .active, .breadcrumb > li > a {
  color: #fcfcfc;
}

.trail-wrapper .breadcrumb > li + li:before {
  color: #fcfcfc;
}
.trail-wrapper{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#ds-options .ds-option-set-head {
  text-transform: inherit;
  font-size: 15px;
}
h2{
  color:#427730;
}

a:link, a:visited {
  color: #427730;
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.headerInfoName{
  color:#fcfcfc;
  font-size:20px;
  margin-top: 30px;
  margin-bottom: 10px;

}
.headerInfoText{
  font-size:15px;
  color:#fcfcfc;



}