@import "atmire-cua";

.navbar-brand {
  padding: 5px 15px;
  height: 75px;
}

header .navbar-brand img {
  height: 60px;
}

.trail-wrapper{
  background-color:#7AB800;
}

header .navbar-default{
  background-color: $brand-primary;
}

#ds-search-option{
  margin-top:20px;
  width:25%;

}
@media screen and (max-width: 775px) {
 #ds-search-option.pull-right{
   float:left !important;
   width:inherit;
 }
}


a.list-group-item {
  color: $brand-primary;
  background: rgba(239,239,239,0.7);


}
a.list-group-item:hover{
  text-decoration: underline;
  color: $brand-primary;
}
.list-group-item{
  border:0;
  padding: 5px 15px

}
.list-group-item.active{
    border-bottom-color: #e3e3e3;
    color: #636363;
  background: rgba(239,239,239,0.7);
  border-bottom:1px solid #dcdcdc;
  padding:10px 15px;
  pointer-events:none;
}

span.h5.list-group-item-heading.h5{
  font-size: 15px;

}span.h5.list-group-item-heading.h5:hover{
   text-decoration: none;

}
body{
  background: #fcfcfc;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #636363;
  font-size: 13px;
  line-height: 16px;
}
.breadcrumb li, .trail-wrapper .breadcrumb > .active, .breadcrumb > li > a {
  color: #fcfcfc;
}

.trail-wrapper .breadcrumb > li + li:before {
  color: #fcfcfc;
}

#ds-options .ds-option-set-head {
  text-transform: inherit;
  font-size: 15px;
}
h2{
  color:$brand-primary;
}

a:link, a:visited {
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.headerInfoName {
  color: #fcfcfc;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left:5px;
  position: absolute;
}

.headerInfoText {
  font-size: 15px;
  color: #fcfcfc;
  position: absolute;
  top: 50px;
  margin-left:5px;

}

button.navbar-toggle.visible-sm:hover {
  background-color: inherit;
}
.trail-toggle .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}

.navbar-toggle{
  padding:  0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px){
  .navbar-toggle {
    display: inline;
  }
}

.footermargin > a{
  margin-left:50px;
  font-size:15px;
  margin-bottom: 10px;
  display: inline-block;
}
.footermargin > a:first-child{
  margin-left:15px;
}
.bold {
  font-weight: bold;
}

div.marginleft{
  margin-left:25px;
}

.descriptionlabel {
  text-align: right;
  display: inline-block;
  width: 65px;
  padding-right: 10px;
}

div.item-wrapper.row{
  margin-bottom:20px;
}

.artifact-description a{
color:black;}

.description-info{
  display:inline-table;
width:85%
}
.thumbnail img{
  max-width: 128px;
}
#aspect_statistics_StatletTransformer_div_showStats{
  display: none;
}
