@import "../../0_CGIAR/styles/main";

body {
  color: $drylands-black;
}

.trail-wrapper {
  color: $drylands-white;
  border-bottom: none;
}

.trail-wrapper .glyphicon {
  color: $drylands-yellow;
}

.breadcrumb .dropdown-toggle {
  color: $drylands-white;
}

.headerInfoName {
  color: $drylands-white;
}

.headerInfoText {
  color: $drylands-white;
}

// text on breadcrumb
.breadcrumb > li,
.breadcrumb > li > a,
.trail-wrapper .breadcrumb > li + li::before {
  color: $drylands-white;
}
